/*This is a default CSS document*/
*{
    padding:0px;
    margin:0px;
    border:red dashed 1px;
}
/*This is the start of the webpage*/
.wrapper{
    min-height:1000px;
    min-width:1000px;
    background-color:silver;
    padding:15px;
}
    /*Define the classes below*/
    .header{
        height:100px;
        width:auto;
        margin:auto;
    }
        .header p{
            display:inline;
            margin:10px;
        }
        .header div{
            display:inline-block;
            margin:10px;
            border:solid black 2px;
            width:200px;
            height:50px;
        }
    .boxes{
        height:300px;
        width:Auto;
        padding:10px;
    }
        .boxes div{
            height:275px;
            margin:10px;
            width:275px;
            padding:5px;
        }
            .boxes div h4{

            }
            .boxes div p{

            }
            .boxes div button{

            }
    .footer{
        height:300px;
        width:auto;
        padding:10px;
    }
        
        .footer div{
            width:auto;
            height:275px;
        }
            .footer div p{

            }